@use '../variables.scss' as *;

.catalystProgressTitle {
  margin-left: 4px;
  padding-top: 2px;
  padding-bottom: 2px;

  color: $orange;
  font-weight: bold;
}

.catalystProgress {
  display: flex;
  flex-direction: column;
  background: rgba(0, 0, 0, 0.4);
  gap: 4px;

  :global(.objective-progress) {
    background: rgba(0, 0, 0, 0.4);
  }
}

.catalystProgressSection {
  padding: 4px 10px 4px;
  background: rgba(0, 0, 0, 0.2);
  flex-grow: 1;
}
